.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 500px;
    position: relative;
   
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.texto {
    flex: 1;
    color: var(--branco);   
    z-index: 2;
}

.texto h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 70px;
    border: 1px solid red;
    background-color: red;
    border-radius: 15px;
}

.texto h2 {
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 60%;
}

.texto p {
    width: 70%;
    font-size: 18px;
    font-weight: 300;
}

.video {
    z-index: 2;
}

/* TABLET */

@media (max-width: 1024px) {
    .texto h2 {
        width: 100%;
        font-size: 36px;
    }

    .texto p {
        width: 90%;
        font-size: 24px;
    }

    .video {
        width: 400px;
    }
}

/* CELULAR */

@media (max-width: 430px) {
    .container {
        display: none;
    }
}